<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>everything-growup.md</string>
		</array>
		<array>
			<string>fortune-teller.md</string>
		</array>
		<array>
			<string>live-to-say-goodbye.md</string>
		</array>
		<array>
			<string>orwell-1984.md</string>
		</array>
		<array>
			<string>sneak-in-10-years.md</string>
		</array>
		<array>
			<string>soft.md</string>
		</array>
		<array>
			<string>the-nineth-widow.md</string>
		</array>
		<array>
			<string>wang-xiao-bo.md</string>
		</array>
	</array>
</dict>
</plist>
