<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>mess</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>12条大脑定律帮你显著提高效率.md</string>
		</array>
		<array>
			<string>1901年.md</string>
		</array>
		<array>
			<string>1979对越战争亲历.md</string>
		</array>
		<array>
			<string>20小时新技能Get√.md</string>
		</array>
		<array>
			<string>30岁前的每一天.md</string>
		</array>
		<array>
			<string>30岁前，最好的修行是恋爱.md</string>
		</array>
		<array>
			<string>3D动画与特效制作艺术.md</string>
		</array>
		<array>
			<string>App Store生存指南 - ver 0.md</string>
		</array>
		<array>
			<string>biological-psychology.md</string>
		</array>
		<array>
			<string>C++ Q&amp;A.md</string>
		</array>
		<array>
			<string>CMU Job Fair ECE前辈Apple 8面通关，拿到7个offers - 【PhD申请】 - www.md</string>
		</array>
		<array>
			<string>CMU 找工作资料.md</string>
		</array>
		<array>
			<string>CMU 研究生面试资料.md</string>
		</array>
		<array>
			<string>D坂杀人事件（午夜文库）.md</string>
		</array>
		<array>
			<string>Eclipse，到了说再见的时候了——AndroidStudio最全解析.md</string>
		</array>
		<array>
			<string>Elon Musk 语录.md</string>
		</array>
		<array>
			<string>Head First 设计模式.md</string>
		</array>
		<array>
			<string>Inside Insight Intelligence - 2014.md</string>
		</array>
		<array>
			<string>iOS图形编程总结.md</string>
		</array>
		<array>
			<string>iOS开发从入门到精通.md</string>
		</array>
		<array>
			<string>Lily’s Story.md</string>
		</array>
		<array>
			<string>linkedin创始人教你职业规划.md</string>
		</array>
		<array>
			<string>Mac 指引（一）.md</string>
		</array>
		<array>
			<string>Mac 指引（三）——生命之轻.md</string>
		</array>
		<array>
			<string>Mac 指引（二）.md</string>
		</array>
		<array>
			<string>Mac 指引（五）——继续说工具.md</string>
		</array>
		<array>
			<string>Mac 指引（四）——工具篇.md</string>
		</array>
		<array>
			<string>MacTalk·人生元编程.md</string>
		</array>
		<array>
			<string>matlab经验.md</string>
		</array>
		<array>
			<string>Men Are from Mars, Women Are from Venus.md</string>
		</array>
		<array>
			<string>Notes from "人类的故事" (by 【美】亨德里克·房龙).md</string>
		</array>
		<array>
			<string>Notes from "汪曾祺小说经典" (by 汪曾祺).md</string>
		</array>
		<array>
			<string>Notes from "西方美术简史" (by 【美】亨德里克·房龙).md</string>
		</array>
		<array>
			<string>Objective-C编程.md</string>
		</array>
		<array>
			<string>OSX应用总结(神兵利器大展览).md</string>
		</array>
		<array>
			<string>PPT 设计十招.md</string>
		</array>
		<array>
			<string>PPT设计资料摘要.md</string>
		</array>
		<array>
			<string>Sicily 题目分类.md</string>
		</array>
		<array>
			<string>SIGGRAPH 2008 papers on the web.md</string>
		</array>
		<array>
			<string>SIGGRAPH 2009 papers on the web.md</string>
		</array>
		<array>
			<string>SIGGRAPH 2010 papers on the web.md</string>
		</array>
		<array>
			<string>SIGGRAPH 2011 papers on the web.md</string>
		</array>
		<array>
			<string>SIGGRAPH 2012 papers on the web.md</string>
		</array>
		<array>
			<string>SIGGRAPH 2013 papers on the web.md</string>
		</array>
		<array>
			<string>SIGGRAPH 2014 papers on the web.md</string>
		</array>
		<array>
			<string>SIGGRAPH Asia 2008 Papers.md</string>
		</array>
		<array>
			<string>SIGGRAPH Asia 2009 Papers.md</string>
		</array>
		<array>
			<string>SIGGRAPH Asia 2010 Papers.md</string>
		</array>
		<array>
			<string>SIGGRAPH Asia 2011 Papers.md</string>
		</array>
		<array>
			<string>SIGGRAPH Asia 2012 Papers.md</string>
		</array>
		<array>
			<string>SIGGRAPH Asia 2013 Papers.md</string>
		</array>
		<array>
			<string>SIGGRAPH Asia 2014 Papers.md</string>
		</array>
		<array>
			<string>Statistical Data Mining Tutorials.md</string>
		</array>
		<array>
			<string>SuperMemo与Anki算法研究.md</string>
		</array>
		<array>
			<string>V 字仇杀队.md</string>
		</array>
		<array>
			<string>《App创富传奇》的笔记（作者: Chris Stevens）.md</string>
		</array>
		<array>
			<string>《Encounter》的笔记.md</string>
		</array>
		<array>
			<string>《Mindset &amp; Purpose》的笔记.md</string>
		</array>
		<array>
			<string>《UIweek·No.md</string>
		</array>
		<array>
			<string>《Zen To Done (简易做)》读书笔记.md</string>
		</array>
		<array>
			<string>《国王 武士 祭司 诗人》的笔记.md</string>
		</array>
		<array>
			<string>《多看文库·唐诗三百首》的笔记（作者：（清）蘅塘退士 张卫东）.md</string>
		</array>
		<array>
			<string>《失恋33天》的笔记（作者: 鲍鲸鲸）.md</string>
		</array>
		<array>
			<string>《对“伪心理学”说不》什么是伪科学？.md</string>
		</array>
		<array>
			<string>《幸福了吗？》的笔记（作者: 白岩松）.md</string>
		</array>
		<array>
			<string>《幸福的方法》的笔记（作者: 【美】泰勒·本·沙哈尔）.md</string>
		</array>
		<array>
			<string>《怪诞行为学 2》的笔记（作者: 【美】丹•艾瑞里）.md</string>
		</array>
		<array>
			<string>《意志力》的笔记（作者: 【美】罗伊•鲍迈斯特 【美】约翰•蒂尔尼）.md</string>
		</array>
		<array>
			<string>《我为什么要投资你》的笔记（作者：李晓艳）.md</string>
		</array>
		<array>
			<string>《我就是想停下来，看看这个世界》的笔记（作者：陈宇欣）.md</string>
		</array>
		<array>
			<string>《我所理解的生活》的笔记（作者: 韩寒）.md</string>
		</array>
		<array>
			<string>《我是个算命先生》的笔记（作者: 易之）.md</string>
		</array>
		<array>
			<string>《我的老师沈从文》的笔记（作者: 汪曾祺）.md</string>
		</array>
		<array>
			<string>《我知道你是怎么剩下的》的笔记.md</string>
		</array>
		<array>
			<string>《我知道你是怎么剩下的》的笔记（作者: 吴迪）.md</string>
		</array>
		<array>
			<string>《战胜拖延症》笔记.md</string>
		</array>
		<array>
			<string>《拖拉一点也无妨》的笔记（作者: 【美】 约翰·佩里）.md</string>
		</array>
		<array>
			<string>《改变》的笔记（作者：中原）.md</string>
		</array>
		<array>
			<string>《旅行，人生最有价值的投资2》.md</string>
		</array>
		<array>
			<string>《旧山河》的笔记（作者: 刀尔登）.md</string>
		</array>
		<array>
			<string>《时间管理幸福学》值得思考的52个建议.md</string>
		</array>
		<array>
			<string>《易中天中华史:国家》的笔记.md</string>
		</array>
		<array>
			<string>《智慧书》的笔记（作者: 【西】巴尔塔沙•葛拉西安）.md</string>
		</array>
		<array>
			<string>《权力世界的丛林法则》的笔记（作者: 葛拉西安）.md</string>
		</array>
		<array>
			<string>《果壳性情·读懂你和你的另一半》的笔记（作者: 果壳）.md</string>
		</array>
		<array>
			<string>《柔软》的笔记.md</string>
		</array>
		<array>
			<string>《毛泽东传》的笔记（作者: 【美】罗斯·特里尔）.md</string>
		</array>
		<array>
			<string>《活着再见 1》的笔记（作者: 邵雪城）.md</string>
		</array>
		<array>
			<string>《浩荡两千年》的笔记（作者: 吴晓波）.md</string>
		</array>
		<array>
			<string>《混合现实》的笔记（作者: 【美】帕拉格·卡纳 【美】爱伊莎·卡纳）.md</string>
		</array>
		<array>
			<string>《玉楼明月长相忆：婉约词》的笔记.md</string>
		</array>
		<array>
			<string>《王小波全集（卷一）》的笔记（作者: 王小波）.md</string>
		</array>
		<array>
			<string>《王小波全集（卷三）》的笔记（作者: 王小波）.md</string>
		</array>
		<array>
			<string>《王小波全集（卷九）》的笔记（作者: 王小波）.md</string>
		</array>
		<array>
			<string>《王小波全集（卷二）》的笔记（作者: 王小波）.md</string>
		</array>
		<array>
			<string>《王小波全集（卷四）》的笔记（作者: 王小波）.md</string>
		</array>
		<array>
			<string>《生命即当下》的笔记.md</string>
		</array>
		<array>
			<string>《番茄工作法图解》的笔记（作者: 【瑞典】诺特伯格）.md</string>
		</array>
		<array>
			<string>《疯传：让你的产品、思想、行为像病毒一样入侵》笔记.md</string>
		</array>
		<array>
			<string>《盲点：好人的潜意识偏见》笔记.md</string>
		</array>
		<array>
			<string>《直到世界尽头》的笔记（作者: 林丹）.md</string>
		</array>
		<array>
			<string>《看见》的笔记.md</string>
		</array>
		<array>
			<string>《知乎周刊·去他的经理》的笔记.md</string>
		</array>
		<array>
			<string>《知乎周刊·商业的细节》的笔记.md</string>
		</array>
		<array>
			<string>《知乎周刊·小白理财》的笔记.md</string>
		</array>
		<array>
			<string>《知乎周刊·走，去拿10亿美金》的笔记.md</string>
		</array>
		<array>
			<string>《码农周刊》干货精选（Python 篇）.md</string>
		</array>
		<array>
			<string>《第一财经周刊·设计的未来》的笔记.md</string>
		</array>
		<array>
			<string>《第九个寡妇》的笔记（作者: 严歌苓）.md</string>
		</array>
		<array>
			<string>《简约至上》的笔记（作者: 【英】科尔伯恩）.md</string>
		</array>
		<array>
			<string>《管理的常识》管理学知识地图.md</string>
		</array>
		<array>
			<string>《结网》的笔记（作者: 王坚）.md</string>
		</array>
		<array>
			<string>《绘客（第1期）》的笔记.md</string>
		</array>
		<array>
			<string>《给你一个公司，看你怎么管》的笔记（作者: 南勇）.md</string>
		</array>
		<array>
			<string>《老乔谈爱情》的笔记.md</string>
		</array>
		<array>
			<string>《舌尖上的中国·第1季（完美升级版）》的笔记（编者：中央电视台纪录频道）.md</string>
		</array>
		<array>
			<string>《舌尖上的中国（第二季）·相逢》的笔记（编者：中央电视台纪录频道）.md</string>
		</array>
		<array>
			<string>《范曾开讲》的笔记（作者: 范曾）.md</string>
		</array>
		<array>
			<string>《荣格与分析心理学》的笔记（作者: 申荷永）.md</string>
		</array>
		<array>
			<string>《谁的青春不迷茫》的笔记（作者: 刘同）.md</string>
		</array>
		<array>
			<string>《贪婪的大脑》冥想的作用.md</string>
		</array>
		<array>
			<string>《身边的江湖》的笔记（作者：郑世平（土家野夫））.md</string>
		</array>
		<array>
			<string>《辣笔，小心！》的笔记（作者: 庄雅婷）.md</string>
		</array>
		<array>
			<string>《重口味女青年的情场潜规则》的笔记（作者: 重口味女青年）.md</string>
		</array>
		<array>
			<string>《重来：更为简单有效的商业思维》的笔记（作者: 【美】贾森•弗里德 【丹】戴维•海涅迈尔•汉森）.md</string>
		</array>
		<array>
			<string>《高效能人士的执行4原则》执行的真正敌人是你的日常事务！.md</string>
		</array>
		<array>
			<string>《黑客与画家》的笔记（作者: 【美】格雷厄姆）.md</string>
		</array>
		<array>
			<string>【2018er看过来】知乎上一份无比受用的留美生活全攻略.md</string>
		</array>
		<array>
			<string>【史诗级】Marvel （漫威）的超终极世界观介绍.md</string>
		</array>
		<array>
			<string>一个iOS开发者的修真之路.md</string>
		</array>
		<array>
			<string>一个人要像一支队伍 _ 刘瑜.md</string>
		</array>
		<array>
			<string>一个帝国的生与死.md</string>
		</array>
		<array>
			<string>一位东莞「色情服务」者的自述.md</string>
		</array>
		<array>
			<string>一套相对清晰易读的指南：怎么去Google工作？.md</string>
		</array>
		<array>
			<string>一座城池.md</string>
		</array>
		<array>
			<string>一张图教你学会各种西餐礼仪.md</string>
		</array>
		<array>
			<string>一直以来伴随我的一些学习习惯.md</string>
		</array>
		<array>
			<string>三体（全三册）.md</string>
		</array>
		<array>
			<string>不会汇报工作，还敢拼职场.md</string>
		</array>
		<array>
			<string>不愿说谢谢的人.md</string>
		</array>
		<array>
			<string>不懂拒绝的老好人.md</string>
		</array>
		<array>
			<string>不换思想就换人：一本妙趣横生的创意思考训练书.md</string>
		</array>
		<array>
			<string>不爱会死.md</string>
		</array>
		<array>
			<string>不生病的思维.md</string>
		</array>
		<array>
			<string>不要和书谈恋爱——《阅读的故事》.md</string>
		</array>
		<array>
			<string>与死亡言和.md</string>
		</array>
		<array>
			<string>与爱因斯坦月球漫步.md</string>
		</array>
		<array>
			<string>与生命相约.md</string>
		</array>
		<array>
			<string>东大生不藏私·日本第一金榜读书法.md</string>
		</array>
		<array>
			<string>两性关系.md</string>
		</array>
		<array>
			<string>中华小当家 台词.md</string>
		</array>
		<array>
			<string>中国人的焦虑从哪里来.md</string>
		</array>
		<array>
			<string>中国古典家具为什么不使用钉子而是用榫卯结构呢？.md</string>
		</array>
		<array>
			<string>中国楼市死亡游戏开始.md</string>
		</array>
		<array>
			<string>中村修二：他让LED照亮21世纪.md</string>
		</array>
		<array>
			<string>为什么我们缺少特立独行的人生态度.md</string>
		</array>
		<array>
			<string>乌合之众.md</string>
		</array>
		<array>
			<string>乌合之众（中英双语版）.md</string>
		</array>
		<array>
			<string>习惯的力量.md</string>
		</array>
		<array>
			<string>乳房的历史.md</string>
		</array>
		<array>
			<string>于丹趣品人生.md</string>
		</array>
		<array>
			<string>互联网产品和技术.md</string>
		</array>
		<array>
			<string>互联网协议入门.md</string>
		</array>
		<array>
			<string>互联网黑市分析：社工库的传说.md</string>
		</array>
		<array>
			<string>交互设计原则·知乎.md</string>
		</array>
		<array>
			<string>产品经理校招笔试.md</string>
		</array>
		<array>
			<string>亮剑.md</string>
		</array>
		<array>
			<string>亲爱的界面：让用户乐于使用、爱不释手.md</string>
		</array>
		<array>
			<string>人人都是产品经理.md</string>
		</array>
		<array>
			<string>人体蜈蚣1+2.md</string>
		</array>
		<array>
			<string>人物·2012|2013封面故事（全）.md</string>
		</array>
		<array>
			<string>人生有信.md</string>
		</array>
		<array>
			<string>人类危险，小心轻放.md</string>
		</array>
		<array>
			<string>人类的群星闪耀时.md</string>
		</array>
		<array>
			<string>什么是你这辈子最重要的东西，你将如何评价你的人生.md</string>
		</array>
		<array>
			<string>从Clarifai的估值聊聊深度学习 - 机器视觉x模式识别 - 知乎专栏.md</string>
		</array>
		<array>
			<string>从前有只不会讲故事的恐龙后来TA死了.md</string>
		</array>
		<array>
			<string>仓央嘉措诗传（长江文艺版）.md</string>
		</array>
		<array>
			<string>以用户为中心的软件设计：打造用户友好型应用的有效方法和准则.md</string>
		</array>
		<array>
			<string>任天堂：让世界充满微笑.md</string>
		</array>
		<array>
			<string>会简化工作的人升职更快.md</string>
		</array>
		<array>
			<string>住在我心里的猴子：焦虑那些事儿.md</string>
		</array>
		<array>
			<string>你不可不知的10个Github功能.md</string>
		</array>
		<array>
			<string>你应该懂点投资学.md</string>
		</array>
		<array>
			<string>你所不知道牛顿和达尔文.md</string>
		</array>
		<array>
			<string>你要如何来吸引别人的关注？.md</string>
		</array>
		<array>
			<string>你选择哪一条路都是对的.md</string>
		</array>
		<array>
			<string>信号与噪声.md</string>
		</array>
		<array>
			<string>做一个特立独行的人需要付出什么代价？会有什么收获？ - 知乎.md</string>
		</array>
		<array>
			<string>做个快乐读书人.md</string>
		</array>
		<array>
			<string>做产品时要把选择权交回给用户.md</string>
		</array>
		<array>
			<string>兔子什么都知道.md</string>
		</array>
		<array>
			<string>再聊推荐系统.md</string>
		</array>
		<array>
			<string>函数式编程 | 酷 壳 - CoolShell.md</string>
		</array>
		<array>
			<string>刘心武揭秘《红楼梦》（精华本1）.md</string>
		</array>
		<array>
			<string>刘邦是怎样炼成的.md</string>
		</array>
		<array>
			<string>初学者如何查阅自然语言处理领域学术资料（刘知远）.md</string>
		</array>
		<array>
			<string>初性之美.md</string>
		</array>
		<array>
			<string>别为小事抓狂.md</string>
		</array>
		<array>
			<string>剑桥倚天屠龙史.md</string>
		</array>
		<array>
			<string>动物农庄.md</string>
		</array>
		<array>
			<string>北美求职记（一）：Microsoft - Aiur.md</string>
		</array>
		<array>
			<string>北美求职记（三）：Hulu &amp; Twitter - Aiur.md</string>
		</array>
		<array>
			<string>北美求职记（二）：Google &amp; Facebook - Aiur.md</string>
		</array>
		<array>
			<string>十亿消费者.md</string>
		</array>
		<array>
			<string>卓越程序员密码.md</string>
		</array>
		<array>
			<string>卡佛.md</string>
		</array>
		<array>
			<string>厨房里的哲学家.md</string>
		</array>
		<array>
			<string>去印度学倒立.md</string>
		</array>
		<array>
			<string>古龙的江湖，他对写意的爱远胜金庸对工笔精描的态度.md</string>
		</array>
		<array>
			<string>只有医生知道 2.md</string>
		</array>
		<array>
			<string>只有医生知道.md</string>
		</array>
		<array>
			<string>台湾清华大学彭明辉教授研究生手册.md</string>
		</array>
		<array>
			<string>史上最全的旅行行李清单，建议收藏.md</string>
		</array>
		<array>
			<string>吃的真相.md</string>
		</array>
		<array>
			<string>吃的真相2.md</string>
		</array>
		<array>
			<string>吃货的50种情绪减肥法：轻松幸福的瘦身之旅.md</string>
		</array>
		<array>
			<string>各学科领域入门书籍推荐.md</string>
		</array>
		<array>
			<string>各种性格测评是否真的靠谱？.md</string>
		</array>
		<array>
			<string>后望书.md</string>
		</array>
		<array>
			<string>听黄仁宇讲中国历史.md</string>
		</array>
		<array>
			<string>启示录：打造用户喜爱的产品.md</string>
		</array>
		<array>
			<string>告白.md</string>
		</array>
		<array>
			<string>周国平人生哲思录.md</string>
		</array>
		<array>
			<string>和机器学习和计算机视觉相关的数学_manifold_新浪博客.md</string>
		</array>
		<array>
			<string>唯心有物王阳明正传.md</string>
		</array>
		<array>
			<string>回到你心中.md</string>
		</array>
		<array>
			<string>因为痛，所以叫青春.md</string>
		</array>
		<array>
			<string>因是子佛学入门.md</string>
		</array>
		<array>
			<string>国内有哪些冷门但有特色的旅游地点？.md</string>
		</array>
		<array>
			<string>圆月弯刀.md</string>
		</array>
		<array>
			<string>在切瑟尔海滩上.md</string>
		</array>
		<array>
			<string>在哪里能够学习到3d打印技术？ - 知乎.md</string>
		</array>
		<array>
			<string>在职刑警自述：刑警办案和推理文学的区别.md</string>
		</array>
		<array>
			<string>在难搞的日子笑出声来.md</string>
		</array>
		<array>
			<string>在面试和演讲时怎样克服压力.md</string>
		</array>
		<array>
			<string>坏男孩法则：我最想要的把妹指南.md</string>
		</array>
		<array>
			<string>增长姿势.md</string>
		</array>
		<array>
			<string>壹心理 · 千万别这样逗孩子.md</string>
		</array>
		<array>
			<string>壹心理No.md</string>
		</array>
		<array>
			<string>壹心理·愚人知多少.md</string>
		</array>
		<array>
			<string>大前研一《OFF学：会玩，才会成功》.md</string>
		</array>
		<array>
			<string>大数据时代:生活,工作与思维的大变革 (湛庐文化•财富汇).md</string>
		</array>
		<array>
			<string>大旗英雄传.md</string>
		</array>
		<array>
			<string>大染坊 copy.md</string>
		</array>
		<array>
			<string>大染坊.md</string>
		</array>
		<array>
			<string>大漠苍狼（全二册）.md</string>
		</array>
		<array>
			<string>大话数据结构.md</string>
		</array>
		<array>
			<string>大饥荒时期的粮食都去哪了？.md</string>
		</array>
		<array>
			<string>天下大道.md</string>
		</array>
		<array>
			<string>天下美食.md</string>
		</array>
		<array>
			<string>天天25小时.md</string>
		</array>
		<array>
			<string>天才在左疯子在右.md</string>
		</array>
		<array>
			<string>失乐园.md</string>
		</array>
		<array>
			<string>失控的人工智能.md</string>
		</array>
		<array>
			<string>失败的31种原因.md</string>
		</array>
		<array>
			<string>夹边沟记事.md</string>
		</array>
		<array>
			<string>奥威尔文集.md</string>
		</array>
		<array>
			<string>奥巴马：光荣与梦想.md</string>
		</array>
		<array>
			<string>奥黛丽·赫本：落入凡间的天使.md</string>
		</array>
		<array>
			<string>女学生卖淫？性病艾滋横行？——昆明低龄性工作者调查报告.md</string>
		</array>
		<array>
			<string>女性的性爱动机（通识课堂）.md</string>
		</array>
		<array>
			<string>女权主义、马克思主义，怎么看性工作者？.md</string>
		</array>
		<array>
			<string>好的问题好的答案.md</string>
		</array>
		<array>
			<string>如何使用 Pylint 来规范 Python 代码风格.md</string>
		</array>
		<array>
			<string>如何做一个更好的决定.md</string>
		</array>
		<array>
			<string>如何在上大学时把专业学好.md</string>
		</array>
		<array>
			<string>如何在初次见面中保持好印象？.md</string>
		</array>
		<array>
			<string>如何开始一个开源项目.md</string>
		</array>
		<array>
			<string>如何选择合适相机.md</string>
		</array>
		<array>
			<string>如何选择适合自己项目的编程语言.md</string>
		</array>
		<array>
			<string>如何选车.md</string>
		</array>
		<array>
			<string>如何高效学习.md</string>
		</array>
		<array>
			<string>如果世界上只剩一个女人，将会发生什么？ - 知乎.md</string>
		</array>
		<array>
			<string>如果这是宋史 1.md</string>
		</array>
		<array>
			<string>学习Swift 开源项目.md</string>
		</array>
		<array>
			<string>学佛群疑：圣严法师学佛三书.md</string>
		</array>
		<array>
			<string>孩子想学画画，想当设计师，有系统步骤供参考.md</string>
		</array>
		<array>
			<string>宅男相亲全攻略.md</string>
		</array>
		<array>
			<string>守望者.md</string>
		</array>
		<array>
			<string>守望者_1.md</string>
		</array>
		<array>
			<string>安德的游戏.md</string>
		</array>
		<array>
			<string>安心的义工旅行.md</string>
		</array>
		<array>
			<string>宫廷素食.md</string>
		</array>
		<array>
			<string>寻一个不受人惑的人（胡适文丛）.md</string>
		</array>
		<array>
			<string>小窗幽记.md</string>
		</array>
		<array>
			<string>尸语者.md</string>
		</array>
		<array>
			<string>左岸读书.md</string>
		</array>
		<array>
			<string>布道之道.md</string>
		</array>
		<array>
			<string>常识（梁文道）.md</string>
		</array>
		<array>
			<string>幸福的规律.md</string>
		</array>
		<array>
			<string>幽梦影.md</string>
		</array>
		<array>
			<string>广州七大不问不知道,用心才找到的著名必去餐厅.md</string>
		</array>
		<array>
			<string>广州人才知道的物美价廉老地方 必须收藏！.md</string>
		</array>
		<array>
			<string>广州小吃美食地图.md</string>
		</array>
		<array>
			<string>广州街头巷尾旮旯窝里的小吃，收藏好以后一个个吃过去~.md</string>
		</array>
		<array>
			<string>开发者需要知道的iOS 8 SDK新特性.md</string>
		</array>
		<array>
			<string>开放的智力：知乎采铜自选集 (知乎「盐」系列).md</string>
		</array>
		<array>
			<string>异形生存手册.md</string>
		</array>
		<array>
			<string>当我们谈论爱情时我们在谈论什么.md</string>
		</array>
		<array>
			<string>当李晓峰成为SKY.md</string>
		</array>
		<array>
			<string>彭明辉： 生命是一种长期而持续的累积过程.md</string>
		</array>
		<array>
			<string>很少被教的软件开发基础.md</string>
		</array>
		<array>
			<string>徐复观的读书方法.md</string>
		</array>
		<array>
			<string>微交互：细节设计成就卓越产品.md</string>
		</array>
		<array>
			<string>心外传奇.md</string>
		</array>
		<array>
			<string>必须为妞灌输的种种思想.md</string>
		</array>
		<array>
			<string>快公司（2013年10月）.md</string>
		</array>
		<array>
			<string>快公司（2013年8月）.md</string>
		</array>
		<array>
			<string>快公司（2013年9月）.md</string>
		</array>
		<array>
			<string>快公司（2014年5月）.md</string>
		</array>
		<array>
			<string>快速解决问题能力的思考方法.md</string>
		</array>
		<array>
			<string>怎样充分借助互联网自学？ - 知乎.md</string>
		</array>
		<array>
			<string>怎样让照片做到专业摄影师级别的那种惊艳后期？（多图）.md</string>
		</array>
		<array>
			<string>思考，快与慢 - 逻辑整理.md</string>
		</array>
		<array>
			<string>思考，快与慢.md</string>
		</array>
		<array>
			<string>性吸引力私密教程.md</string>
		</array>
		<array>
			<string>性生活.md</string>
		</array>
		<array>
			<string>性病医生的病人们.md</string>
		</array>
		<array>
			<string>怪谈：日本动漫中的传统妖怪.md</string>
		</array>
		<array>
			<string>恋爱导图.md</string>
		</array>
		<array>
			<string>慢慢来,一切都来得及.md</string>
		</array>
		<array>
			<string>成功的跳关秘笈.md</string>
		</array>
		<array>
			<string>我为什么憎恶心灵鸡汤？（上）.md</string>
		</array>
		<array>
			<string>我为什么憎恶心灵鸡汤？（下）.md</string>
		</array>
		<array>
			<string>我们.md</string>
		</array>
		<array>
			<string>我们最幸福.md</string>
		</array>
		<array>
			<string>我们需要知道的、关于技术变化方面的五种思想.md</string>
		</array>
		<array>
			<string>我和权威的故事.md</string>
		</array>
		<array>
			<string>我就这么一说.md</string>
		</array>
		<array>
			<string>我有一个朋友.md</string>
		</array>
		<array>
			<string>我知道你不知道的自己在想什么.md</string>
		</array>
		<array>
			<string>我编程，我快乐.md</string>
		</array>
		<array>
			<string>批判性思维：带你走出思维的误区.md</string>
		</array>
		<array>
			<string>把你的英语用起来！.md</string>
		</array>
		<array>
			<string>把妹圣经.md</string>
		</array>
		<array>
			<string>把心安顿好.md</string>
		</array>
		<array>
			<string>招聘找工作.md</string>
		</array>
		<array>
			<string>提高夜晚学习效率的建议.md</string>
		</array>
		<array>
			<string>改变你的理念，重塑三观.md</string>
		</array>
		<array>
			<string>改变未来的九大算法.md</string>
		</array>
		<array>
			<string>攻心话术.md</string>
		</array>
		<array>
			<string>敏捷武士︰看敏捷高手交付卓越软件.md</string>
		</array>
		<array>
			<string>教你瞬间赢得别人信任的 “冷读术”.md</string>
		</array>
		<array>
			<string>数学：确定性的丧失.md</string>
		</array>
		<array>
			<string>数据挖掘十大经典算法.md</string>
		</array>
		<array>
			<string>无畏.md</string>
		</array>
		<array>
			<string>无病时代：走出健康误区，终结盲目医疗！.md</string>
		</array>
		<array>
			<string>日本简史.md</string>
		</array>
		<array>
			<string>日本茶Ocha.md</string>
		</array>
		<array>
			<string>旧制度与大革命（法语全译插图珍藏版）.md</string>
		</array>
		<array>
			<string>时间之墟.md</string>
		</array>
		<array>
			<string>昆德拉.md</string>
		</array>
		<array>
			<string>明智行动的艺术.md</string>
		</array>
		<array>
			<string>明朝没有沈万三.md</string>
		</array>
		<array>
			<string>暗访十年（全五册）.md</string>
		</array>
		<array>
			<string>曾国藩家书.md</string>
		</array>
		<array>
			<string>有品质，有趣，有腔调有范儿的男生是什么样的？怎么样让自己变成这样？ - 知乎.md</string>
		</array>
		<array>
			<string>未来不迎，过往不恋.md</string>
		</array>
		<array>
			<string>机器学习头条:《语言的世界》.md</string>
		</array>
		<array>
			<string>机器学习自学指南.md</string>
		</array>
		<array>
			<string>机票攻略.md</string>
		</array>
		<array>
			<string>杀鹌鹑的少女 陶杰.md</string>
		</array>
		<array>
			<string>林书豪！从哈佛到全明星.md</string>
		</array>
		<array>
			<string>林徽因文集：你是那一树一树的花开.md</string>
		</array>
		<array>
			<string>林徽因的会客厅.md</string>
		</array>
		<array>
			<string>枪与玫瑰的使用方法.md</string>
		</array>
		<array>
			<string>欢喜.md</string>
		</array>
		<array>
			<string>武侠，从牛A到牛C（千插万叙版）.md</string>
		</array>
		<array>
			<string>每天都学一点，生活会更丰富些.md</string>
		</array>
		<array>
			<string>每日一雷：AKB48评选十大美乳.md</string>
		</array>
		<array>
			<string>永世不得翻身的凤凰男.md</string>
		</array>
		<array>
			<string>汪曾祺谈吃.md</string>
		</array>
		<array>
			<string>没看过原作的人永远不会懂.md</string>
		</array>
		<array>
			<string>治愈系·卖萌即正义.md</string>
		</array>
		<array>
			<string>洗手间里的主权.md</string>
		</array>
		<array>
			<string>洞察者：螳螂.md</string>
		</array>
		<array>
			<string>津巴多时间心理学.md</string>
		</array>
		<array>
			<string>深度学习、自然语言处理和表征方法.md</string>
		</array>
		<array>
			<string>深度解析中国性产业：揭秘性工作者.md</string>
		</array>
		<array>
			<string>深度解析中国性产业：揭秘红灯区.md</string>
		</array>
		<array>
			<string>清醒思考的艺术.md</string>
		</array>
		<array>
			<string>游戏人生与创业人生：知乎孙志超自选集.md</string>
		</array>
		<array>
			<string>潘多拉的种子：人类文明进步的代价.md</string>
		</array>
		<array>
			<string>激荡三十年（上）.md</string>
		</array>
		<array>
			<string>火星上的人类学家.md</string>
		</array>
		<array>
			<string>火星公主.md</string>
		</array>
		<array>
			<string>烟花名妓.md</string>
		</array>
		<array>
			<string>爱上几个人渣.md</string>
		</array>
		<array>
			<string>爱情中的心理学.md</string>
		</array>
		<array>
			<string>爱是光着脚的哲学：古代智慧与现代爱情.md</string>
		</array>
		<array>
			<string>犯罪心理师2：替身.md</string>
		</array>
		<array>
			<string>独自上场:李娜自传.md</string>
		</array>
		<array>
			<string>理论上,埃博拉很难"走出非洲".md</string>
		</array>
		<array>
			<string>生命是长期而持续的累积（2）.md</string>
		</array>
		<array>
			<string>生活十讲.md</string>
		</array>
		<array>
			<string>用身体改变头脑的十个快速方法.md</string>
		</array>
		<array>
			<string>男人必须知道的正确饮食观.md</string>
		</array>
		<array>
			<string>男人的伎俩，女人的道行.md</string>
		</array>
		<array>
			<string>男性约会前的基本建议.md</string>
		</array>
		<array>
			<string>男装里有哪些必备的单品？.md</string>
		</array>
		<array>
			<string>百度学术 - 保持学习的态度.md</string>
		</array>
		<array>
			<string>盗梦工厂.md</string>
		</array>
		<array>
			<string>盛大十五年|游戏葡萄.md</string>
		</array>
		<array>
			<string>目送.md</string>
		</array>
		<array>
			<string>看上去很美——中国性交易合法化之路.md</string>
		</array>
		<array>
			<string>看懂财经新闻的第一本书.md</string>
		</array>
		<array>
			<string>真夏方程式.md</string>
		</array>
		<array>
			<string>知乎为什么·内部版.md</string>
		</array>
		<array>
			<string>知乎周刊·吃好吃的.md</string>
		</array>
		<array>
			<string>知乎周刊·向自由逃避（总第047期）.md</string>
		</array>
		<array>
			<string>知乎周刊·给人生一部纪录片（总第046期）.md</string>
		</array>
		<array>
			<string>知乎周刊·讲道理.md</string>
		</array>
		<array>
			<string>知乎周刊·设计了不起（总第062期）.md</string>
		</array>
		<array>
			<string>知乎周刊·车车车车（总第057期）.md</string>
		</array>
		<array>
			<string>知乎周刊·远方的旅行家.md</string>
		</array>
		<array>
			<string>知乎圆桌·香港电影浮沉录.md</string>
		</array>
		<array>
			<string>知乎成长自选集是一本如果你不读，我不读，就没有人会读的书.md</string>
		</array>
		<array>
			<string>禅修一本通.md</string>
		</array>
		<array>
			<string>禅说-蔡志忠.md</string>
		</array>
		<array>
			<string>科幻小说－《蝇王》.md</string>
		</array>
		<array>
			<string>移动应用UI设计模式.md</string>
		</array>
		<array>
			<string>移动浪潮.md</string>
		</array>
		<array>
			<string>程序员必须知道的10大基础实用算法及其讲解.md</string>
		</array>
		<array>
			<string>程序员最常用的十个 Mac 工具（下）.md</string>
		</array>
		<array>
			<string>站在两个世界的边缘.md</string>
		</array>
		<array>
			<string>第3选择：解决所有难题的关键思维.md</string>
		</array>
		<array>
			<string>简单之美：软件开发实践者的思考.md</string>
		</array>
		<array>
			<string>简析 Swift 的模块系统.md</string>
		</array>
		<array>
			<string>简约之美：软件设计之道.md</string>
		</array>
		<array>
			<string>算法精解：C语言描述.md</string>
		</array>
		<array>
			<string>算法课.md</string>
		</array>
		<array>
			<string>管理者快速培养新人的四个方法.md</string>
		</array>
		<array>
			<string>纪伯伦散文集.md</string>
		</array>
		<array>
			<string>终结拖延症.md</string>
		</array>
		<array>
			<string>编写可读代码的艺术.md</string>
		</array>
		<array>
			<string>编号0911：我的囚徒生涯.md</string>
		</array>
		<array>
			<string>编译器的工作过程.md</string>
		</array>
		<array>
			<string>网页爬虫及其用到的算法和数据结构.md</string>
		</array>
		<array>
			<string>网飞传奇：从电影租赁店到在线视频新巨头的历程揭秘.md</string>
		</array>
		<array>
			<string>罗马人的故事.md</string>
		</array>
		<array>
			<string>羊毛战记.md</string>
		</array>
		<array>
			<string>美丽新世界.md</string>
		</array>
		<array>
			<string>老庄心解.md</string>
		</array>
		<array>
			<string>自控力.md</string>
		</array>
		<array>
			<string>自杀者再利用法.md</string>
		</array>
		<array>
			<string>艺术思维.md</string>
		</array>
		<array>
			<string>花钱带来的幸福感.md</string>
		</array>
		<array>
			<string>苹果新贵 Swift 之前世今生.md</string>
		</array>
		<array>
			<string>菜根谭.md</string>
		</array>
		<array>
			<string>蓝狮子经理人005：向上管理.md</string>
		</array>
		<array>
			<string>蓝狮子经理人007：打造英语脑.md</string>
		</array>
		<array>
			<string>蓝狮子经理人008：高效阅读术.md</string>
		</array>
		<array>
			<string>蓝狮子经理人012：锻炼持续力三要诀.md</string>
		</array>
		<array>
			<string>蓝狮子经理人013：打造高效团队.md</string>
		</array>
		<array>
			<string>蓝狮子经理人014：纪律的力量.md</string>
		</array>
		<array>
			<string>虚实之间.md</string>
		</array>
		<array>
			<string>血腥的盛唐 1.md</string>
		</array>
		<array>
			<string>行医者说：知乎田吉顺自选集.md</string>
		</array>
		<array>
			<string>衣锦夜行：知乎程毅南自选集.md</string>
		</array>
		<array>
			<string>被劫持的私生活   作者：肉唐僧.md</string>
		</array>
		<array>
			<string>让天下一先.md</string>
		</array>
		<array>
			<string>让管理回归简单.md</string>
		</array>
		<array>
			<string>记事本圆梦计划-做你想做的自己.md</string>
		</array>
		<array>
			<string>记忆靠谱吗？不，记忆不靠谱.md</string>
		</array>
		<array>
			<string>论把妹的自我修养.md</string>
		</array>
		<array>
			<string>论摄影.md</string>
		</array>
		<array>
			<string>论文阅读列表 - 图像检索相关.md</string>
		</array>
		<array>
			<string>论语译注.md</string>
		</array>
		<array>
			<string>设计者的品味.md</string>
		</array>
		<array>
			<string>语法浅析--从C语言到Objective-C.md</string>
		</array>
		<array>
			<string>谁家有女初长成.md</string>
		</array>
		<array>
			<string>谈修养.md</string>
		</array>
		<array>
			<string>豆瓣，川味第一料.md</string>
		</array>
		<array>
			<string>身体向左，爱情向右.md</string>
		</array>
		<array>
			<string>软件项目成功之道.md</string>
		</array>
		<array>
			<string>远离学堂：如何燃烧学习的小宇宙.md</string>
		</array>
		<array>
			<string>送你一匹马.md</string>
		</array>
		<array>
			<string>通信十年：看完终于读懂通信行业.md</string>
		</array>
		<array>
			<string>遇上爱，我们都是贱骨头.md</string>
		</array>
		<array>
			<string>遇到精神衰弱、焦虑、恐惧等状态时的自救.md</string>
		</array>
		<array>
			<string>道德经心释(上下).md</string>
		</array>
		<array>
			<string>道德经心释（上）.md</string>
		</array>
		<array>
			<string>重塑心灵.md</string>
		</array>
		<array>
			<string>银河帝国（1-7）：基地系列七部曲.md</string>
		</array>
		<array>
			<string>错觉.md</string>
		</array>
		<array>
			<string>错过这篇文章，可能你这辈子不懂什么叫傅里叶变换了（一）.md</string>
		</array>
		<array>
			<string>阮一峰博客文集 1：如何变得有思想？.md</string>
		</array>
		<array>
			<string>陆犯焉识.md</string>
		</array>
		<array>
			<string>陈利人：开发流程和网站架构.md</string>
		</array>
		<array>
			<string>陈平原：作为一种生活方式的“读书”.md</string>
		</array>
		<array>
			<string>随机生存的智慧：黑天鹅语录.md</string>
		</array>
		<array>
			<string>雪球专刊·阿里帝国上市记.md</string>
		</array>
		<array>
			<string>青帮教父杜月笙全传.md</string>
		</array>
		<array>
			<string>青铜时代的蕨类战争.md</string>
		</array>
		<array>
			<string>面试准备.md</string>
		</array>
		<array>
			<string>香港一位立法委员所写香港问题分析，深入骨髓！.md</string>
		</array>
		<array>
			<string>香港凤凰周刊·朝鲜病人.md</string>
		</array>
		<array>
			<string>高原旅行必备常识 - 蚂蜂窝.md</string>
		</array>
		<array>
			<string>高效人士上班第一小时要做的8件事.md</string>
		</array>
		<array>
			<string>高效程序员的45个习惯.md</string>
		</array>
		<array>
			<string>高效能人士的七个习惯.md</string>
		</array>
		<array>
			<string>鸳鸯谱.md</string>
		</array>
		<array>
			<string>麦肯锡方法.md</string>
		</array>
		<array>
			<string>黑白艺术-精细原型设计三要素.md</string>
		</array>
		<array>
			<string>黑莓为什么会败给苹果？.md</string>
		</array>
	</array>
</dict>
</plist>
