<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_resources</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>facial_expression_note.md</string>
		</array>
		<array>
			<string>how_to_write_research_proposal.md</string>
		</array>
		<array>
			<string>jan_20_meeting_questions.md</string>
		</array>
		<array>
			<string>jan_20_meeting_result.md</string>
		</array>
	</array>
</dict>
</plist>
