<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_resources</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>hw_3.md</string>
		</array>
		<array>
			<string>lecture_note.md</string>
		</array>
		<array>
			<string>mid-term.md</string>
		</array>
		<array>
			<string>midterm-preparation.md</string>
		</array>
		<array>
			<string>miniproject_1.md</string>
		</array>
		<array>
			<string>miniproject_3.md</string>
		</array>
		<array>
			<string>miniproject_hw_2.md</string>
		</array>
		<array>
			<string>question_set.md</string>
		</array>
		<array>
			<string>term-project.md</string>
		</array>
		<array>
			<string>term_project.md</string>
		</array>
		<array>
			<string>final-preparation.md</string>
		</array>
	</array>
</dict>
</plist>
