<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_resources</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>7-country-africa.md</string>
		</array>
		<array>
			<string>africa.md</string>
		</array>
		<array>
			<string>caesar-roman.md</string>
		</array>
		<array>
			<string>china-and-world.md</string>
		</array>
		<array>
			<string>chinese-astronomy.md</string>
		</array>
		<array>
			<string>chinese-geography.md</string>
		</array>
		<array>
			<string>east-west.md</string>
		</array>
		<array>
			<string>great-wall.md</string>
		</array>
		<array>
			<string>li-kai-fu.md</string>
		</array>
		<array>
			<string>liang-village.md</string>
		</array>
		<array>
			<string>mid-asia.md</string>
		</array>
		<array>
			<string>north-east-asia.md</string>
		</array>
		<array>
			<string>south-asia.md</string>
		</array>
		<array>
			<string>steve-jobs.md</string>
		</array>
		<array>
			<string>trade.md</string>
		</array>
		<array>
			<string>two-kinds-of-power.md</string>
		</array>
	</array>
</dict>
</plist>
