<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>biography-worth-reading.md</string>
		</array>
		<array>
			<string>books-recommended-by-famous-people.md</string>
		</array>
		<array>
			<string>books-worth-twice-reading.md</string>
		</array>
		<array>
			<string>course-list-2015-fall.md</string>
		</array>
		<array>
			<string>novels-worth-reading.md</string>
		</array>
		<array>
			<string>weight-record.md</string>
		</array>
		<array>
			<string>books-reading-list.md</string>
		</array>
		<array>
			<string>articles-writing-list.md</string>
		</array>
	</array>
</dict>
</plist>
