<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>facial expression research</string>
		<string>fastcode</string>
		<string>foundation of computer architecture</string>
		<string>wkk</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
