<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>another-point-of-view.md</string>
		</array>
		<array>
			<string>mind-exercise.md</string>
		</array>
		<array>
			<string>slow-internet.md</string>
		</array>
		<array>
			<string>turing-test-out-of-date.md</string>
		</array>
	</array>
</dict>
</plist>
