<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>第1章：向量</string>
		<string>第2章：矩阵</string>
		<string>第3章：矩阵变换</string>
		<string>第4章：几何图元</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
