<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_resources</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>100天行动之办公桌-效率提升从整理办公桌开始.md</string>
		</array>
		<array>
			<string>100天行动之家庭沟通：因为有爱，每句话都要好好说.md</string>
		</array>
		<array>
			<string>100天行动：用扑克牌来练习沟通.md</string>
		</array>
		<array>
			<string>164条学习小技巧.md</string>
		</array>
		<array>
			<string>90分钟内完成全天工作.md</string>
		</array>
		<array>
			<string>HIIT适合所用人么？.md</string>
		</array>
		<array>
			<string>Python日报Python强化学习库.md</string>
		</array>
		<array>
			<string>Quora问答：如何高效地上网？.md</string>
		</array>
		<array>
			<string>“中国红”是什么红|大象公会.md</string>
		</array>
		<array>
			<string>“如果你想改变世界”——海豹突击队训练给我们的十条启示.md</string>
		</array>
		<array>
			<string>“白皮”有风险，使用需谨慎|大象公会.md</string>
		</array>
		<array>
			<string>《关键对话》快速提高你的沟通能力.md</string>
		</array>
		<array>
			<string>《别让猴子跳回背上》读书笔记.md</string>
		</array>
		<array>
			<string>《来到地球第一天》|大象公会.md</string>
		</array>
		<array>
			<string>《爱的五种语言》夫妻沟通秘籍.md</string>
		</array>
		<array>
			<string>【推荐】为什么国货的设计这么烂.md</string>
		</array>
		<array>
			<string>【硬派健身】更燃脂、更翘臀。徒手深蹲进阶。.md</string>
		</array>
		<array>
			<string>【硬派健身】本周微博精选：小知识.md</string>
		</array>
		<array>
			<string>【硬派健身】肌酸有多好，你造吗？①.md</string>
		</array>
		<array>
			<string>一个手机的诞生过程.md</string>
		</array>
		<array>
			<string>一个相声演员的金融方案.md</string>
		</array>
		<array>
			<string>一分和十分.md</string>
		</array>
		<array>
			<string>七条建议帮你立刻提高工作效率.md</string>
		</array>
		<array>
			<string>上海为什么缺少创业家|大象公会.md</string>
		</array>
		<array>
			<string>不会用剑：那些伪互联网海盗们.md</string>
		</array>
		<array>
			<string>世界远比我们想象的更广大.md</string>
		</array>
		<array>
			<string>中国人为何以狼为师|大象公会.md</string>
		</array>
		<array>
			<string>中国出品：我们都是龙的传人？|大象公会.md</string>
		</array>
		<array>
			<string>为什么我们无法拒绝诱惑？——告诉你如何成为更完美自己的秘密.md</string>
		</array>
		<array>
			<string>为何你必须对自我训化保持耐心.md</string>
		</array>
		<array>
			<string>主仆游戏.md</string>
		</array>
		<array>
			<string>主仆游戏vs.md</string>
		</array>
		<array>
			<string>书单|亚马逊推荐人生100本必读.md</string>
		</array>
		<array>
			<string>书记、市长们的一步之遥|大象公会.md</string>
		</array>
		<array>
			<string>互联网黑市分析：虚假运营手段.md</string>
		</array>
		<array>
			<string>五角星之美国的崛起|大象公会.md</string>
		</array>
		<array>
			<string>五角星是怎样红起来的|大象公会.md</string>
		</array>
		<array>
			<string>享受深厚和丰富的感情关系.md</string>
		</array>
		<array>
			<string>什么是尊重？.md</string>
		</array>
		<array>
			<string>从《新教伦理与资本主义精神》到费正清学派|不必读经典.md</string>
		</array>
		<array>
			<string>从《菊与刀》到《乌合之众》|不必读经典.md</string>
		</array>
		<array>
			<string>你与众不同的饮食选择是个社交优势.md</string>
		</array>
		<array>
			<string>你无需克服搭讪焦虑.md</string>
		</array>
		<array>
			<string>你最伟大的成就是什么？.md</string>
		</array>
		<array>
			<string>你欠这个世界任何事吗？.md</string>
		</array>
		<array>
			<string>你能连续多少天不查看电子邮件或社交媒体？.md</string>
		</array>
		<array>
			<string>你自己的恒星移民地.md</string>
		</array>
		<array>
			<string>健身后，腰酸腿疼训练效果差？.md</string>
		</array>
		<array>
			<string>克服信任问题.md</string>
		</array>
		<array>
			<string>写作建议：如何成为作家（1）.md</string>
		</array>
		<array>
			<string>写给注意力严重不集中人士的生活建议.md</string>
		</array>
		<array>
			<string>几点健身最有效？！.md</string>
		</array>
		<array>
			<string>利用大脑启动效应实现永久效能提升（只需几分钟）.md</string>
		</array>
		<array>
			<string>别付你的账单.md</string>
		</array>
		<array>
			<string>到底什么是冯·诺伊曼结构？.md</string>
		</array>
		<array>
			<string>刺激感.md</string>
		</array>
		<array>
			<string>十万个亚洲最大喷泉|大象公会.md</string>
		</array>
		<array>
			<string>十万个亚洲最大广场|大象公会.md</string>
		</array>
		<array>
			<string>印度是什么：印度教为何战胜了佛教.md</string>
		</array>
		<array>
			<string>印度是什么？|大象公会.md</string>
		</array>
		<array>
			<string>商业生意就是个社交游戏.md</string>
		</array>
		<array>
			<string>四川话_粤语_陕西话差一点成了普通话？|大象公会.md</string>
		</array>
		<array>
			<string>国外健身跑步媒体总结了100首适合跑步的音乐.md</string>
		</array>
		<array>
			<string>在你人生方向感没那么强的时候，怎么更好地生活下去.md</string>
		</array>
		<array>
			<string>地图为什么总是上北下南|大象公会.md</string>
		</array>
		<array>
			<string>地图为什么总是上北下南|大象公会_1.md</string>
		</array>
		<array>
			<string>增肌且减脂，欠糖还脂肪，天经地义！EPOC~.md</string>
		</array>
		<array>
			<string>女性选择高富帅是物种进化的本能.md</string>
		</array>
		<array>
			<string>如何冥想？2500年的智慧——荒岛十日记（1_3）|Denny'sBlog.md</string>
		</array>
		<array>
			<string>如何取得全A成绩.md</string>
		</array>
		<array>
			<string>如何建立坚定的工作精神.md</string>
		</array>
		<array>
			<string>如何把笔记类APP用好，变成系统性的知识管理工具？.md</string>
		</array>
		<array>
			<string>如何拥有快速学习的能力？.md</string>
		</array>
		<array>
			<string>字在人在：题词的政治学|大象公会.md</string>
		</array>
		<array>
			<string>安于不适.md</string>
		</array>
		<array>
			<string>完整版珍藏！跑步过后拉伸15个动作.md</string>
		</array>
		<array>
			<string>小型商业生意的两条成功道路.md</string>
		</array>
		<array>
			<string>小心被经典砸到|不必读经典.md</string>
		</array>
		<array>
			<string>帮你快速入睡的五种放松方法.md</string>
		</array>
		<array>
			<string>平凡之路：这些年互联网的变迁.md</string>
		</array>
		<array>
			<string>广州现存的地道老字号小吃店！.md</string>
		</array>
		<array>
			<string>忠于内心的旅行.md</string>
		</array>
		<array>
			<string>情圣大卫：90%的男人都错了，女人会被什么男人吸引？.md</string>
		</array>
		<array>
			<string>情圣大卫：不把她约出来，关系很难有进展！.md</string>
		</array>
		<array>
			<string>情圣大卫：她不愿意被你睡？怎么优雅的提出和女朋友滚床单？.md</string>
		</array>
		<array>
			<string>手动党：特立独行的少数派.md</string>
		</array>
		<array>
			<string>手把手教你拿到美国十年多次旅游签证.md</string>
		</array>
		<array>
			<string>拿破仑看《孙子兵法》为何流泪|大象公会.md</string>
		</array>
		<array>
			<string>提速！.md</string>
		</array>
		<array>
			<string>搭讪有高招：五个绝妙的加式搭讪方式.md</string>
		</array>
		<array>
			<string>摩天楼的温情|大象公会.md</string>
		</array>
		<array>
			<string>改变你身处的文化.md</string>
		</array>
		<array>
			<string>改善身体语言的十二个技巧.md</string>
		</array>
		<array>
			<string>新型战争的开端：震网病毒的故事|大象公会.md</string>
		</array>
		<array>
			<string>明智选择创业项目.md</string>
		</array>
		<array>
			<string>春节在外下馆子点菜有学问！|第一季.md</string>
		</array>
		<array>
			<string>最值得收藏的拉伸宝典.md</string>
		</array>
		<array>
			<string>最适合演毛泽东的是姜文（下）|大象公会.md</string>
		</array>
		<array>
			<string>有哪些生活小习惯，慢慢地可以改变一个人的性格或者生活？（3）.md</string>
		</array>
		<array>
			<string>机器学习头条《GPU的革命》CUDA入门.md</string>
		</array>
		<array>
			<string>机器学习日报中国汉英平行语料大世界.md</string>
		</array>
		<array>
			<string>机器学习日报统计语言模型.md</string>
		</array>
		<array>
			<string>查理·芒格：我所知道最有用的道理和态度.md</string>
		</array>
		<array>
			<string>残忍的好处.md</string>
		</array>
		<array>
			<string>段宇宏谈&lt;不必读经典&gt;.md</string>
		</array>
		<array>
			<string>每天坚持做什么（一小时左右）可以让英语水平在一年半载内得到大幅提升？.md</string>
		</array>
		<array>
			<string>每年休息130天.md</string>
		</array>
		<array>
			<string>每月赚取10000美元.md</string>
		</array>
		<array>
			<string>永远别把利润放在首位.md</string>
		</array>
		<array>
			<string>清晰感.md</string>
		</array>
		<array>
			<string>清醒自主的拒绝.md</string>
		</array>
		<array>
			<string>灵感.md</string>
		</array>
		<array>
			<string>爱情Hack技巧：怎样在最短的时间内让两个陌生人产生爱情.md</string>
		</array>
		<array>
			<string>狼的中国进化史|大象公会.md</string>
		</array>
		<array>
			<string>瘦的更多！跑的更快！.md</string>
		</array>
		<array>
			<string>真正的忠诚.md</string>
		</array>
		<array>
			<string>离考试只有几天怎样学习效果会更好.md</string>
		</array>
		<array>
			<string>程序员与PM的面试季——重磅好书助攻.md</string>
		</array>
		<array>
			<string>简化，舍弃，走向流浪生活.md</string>
		</array>
		<array>
			<string>粤语才是古代的“普通话”？|大象公会.md</string>
		</array>
		<array>
			<string>翘臀不作死安全练长腿.md</string>
		</array>
		<array>
			<string>老美也有禁忌话题？——5条底线凡人勿碰！.md</string>
		</array>
		<array>
			<string>能量的世界.md</string>
		</array>
		<array>
			<string>脏话的脱敏：TMD赶紧点开看|大象公会.md</string>
		</array>
		<array>
			<string>若拥有百倍于现在的资源，你会做什么？.md</string>
		</array>
		<array>
			<string>让人感觉美好.md</string>
		</array>
		<array>
			<string>负责的反叛.md</string>
		</array>
		<array>
			<string>身材练不好？你歇错了！.md</string>
		</array>
		<array>
			<string>运动前，吃什么更减脂塑形？.md</string>
		</array>
		<array>
			<string>邪恶出口.md</string>
		</array>
		<array>
			<string>金钱与你忠于内心的道路.md</string>
		</array>
		<array>
			<string>雾霾里的乌合之众.md</string>
		</array>
		<array>
			<string>颠覆式创新.md</string>
		</array>
	</array>
</dict>
</plist>
