<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_resources</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>4.1 图元表示法.md</string>
		</array>
		<array>
			<string>4.2 3d空间中的直线.md</string>
		</array>
		<array>
			<string>4.3 3d空间中的平面.md</string>
		</array>
	</array>
</dict>
</plist>
