<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_resources</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>english_tutorial_by_lai.md</string>
		</array>
		<array>
			<string>hw_1_assessment.md</string>
		</array>
		<array>
			<string>hw_1_revision.md</string>
		</array>
		<array>
			<string>hw_2_analysis.md</string>
		</array>
		<array>
			<string>hw_2_assessment.md</string>
		</array>
		<array>
			<string>hw_2_revision.md</string>
		</array>
		<array>
			<string>hw_3_revision.md</string>
		</array>
		<array>
			<string>lily_book.md</string>
		</array>
		<array>
			<string>lily_book_21_30.md</string>
		</array>
		<array>
			<string>newword.txt</string>
		</array>
		<array>
			<string>one_billion_customer.md</string>
		</array>
		<array>
			<string>plagiarism.md</string>
		</array>
		<array>
			<string>root_of_vocabulary.md</string>
		</array>
		<array>
			<string>style-learning-note.md</string>
		</array>
		<array>
			<string>style_lesson_10_shape.md</string>
		</array>
		<array>
			<string>style_lesson_11_elegance.md</string>
		</array>
		<array>
			<string>style_lesson_12_ethics.md</string>
		</array>
		<array>
			<string>style_lesson_3_actions.md</string>
		</array>
		<array>
			<string>style_lesson_4_characters.md</string>
		</array>
		<array>
			<string>style_lesson_5_cohesion_and_coherence.md</string>
		</array>
		<array>
			<string>style_lesson_6_emphasis.md</string>
		</array>
		<array>
			<string>style_lesson_7_motivation.md</string>
		</array>
		<array>
			<string>style_lesson_8_global_coherence.md</string>
		</array>
		<array>
			<string>style_lesson_9_concision.md</string>
		</array>
		<array>
			<string>video_script.md</string>
		</array>
		<array>
			<string>use-your-english.md</string>
		</array>
	</array>
</dict>
</plist>
