<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_resources</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>1.1 向量.md</string>
		</array>
		<array>
			<string>1.2 向量的数乘和加减法.md</string>
		</array>
		<array>
			<string>1.3 向量的模.md</string>
		</array>
		<array>
			<string>1.4 数量积.md</string>
		</array>
		<array>
			<string>1.5 向量的夹角.md</string>
		</array>
		<array>
			<string>1.6 向量的投影.md</string>
		</array>
		<array>
			<string>1.7 向量积.md</string>
		</array>
		<array>
			<string>1.8 混合积.md</string>
		</array>
		<array>
			<string>1.9 向量空间.md</string>
		</array>
	</array>
</dict>
</plist>
