<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>act_accordingly.md</string>
		</array>
		<array>
			<string>advanced-dom-scripting.md</string>
		</array>
		<array>
			<string>ape-author-publisher-entrepreneur.md</string>
		</array>
		<array>
			<string>art-of-the-start.md</string>
		</array>
		<array>
			<string>art_and_design_in_photoshop.md</string>
		</array>
		<array>
			<string>article_marketing_made_simple.md</string>
		</array>
		<array>
			<string>authority.md</string>
		</array>
		<array>
			<string>auto-layout-guide.md</string>
		</array>
		<array>
			<string>beginning-iphone-3-development.md</string>
		</array>
		<array>
			<string>beginning_gimp.md</string>
		</array>
		<array>
			<string>bioinformatics_for_dummies.md</string>
		</array>
		<array>
			<string>bootstrapping_design.md</string>
		</array>
		<array>
			<string>bulletproof-ajax.md</string>
		</array>
		<array>
			<string>c_programming_language.md</string>
		</array>
		<array>
			<string>chatter.md</string>
		</array>
		<array>
			<string>choose-yourself.md</string>
		</array>
		<array>
			<string>code-complete.md</string>
		</array>
		<array>
			<string>convert.md</string>
		</array>
		<array>
			<string>copy_hackers.md</string>
		</array>
		<array>
			<string>core-data-programming-guide.md</string>
		</array>
		<array>
			<string>cpp-primer-plus.md</string>
		</array>
		<array>
			<string>csapp.md</string>
		</array>
		<array>
			<string>css-the-missing-manual.md</string>
		</array>
		<array>
			<string>css3_specification.md</string>
		</array>
		<array>
			<string>design-patterns.md</string>
		</array>
		<array>
			<string>designing_for_the_web.md</string>
		</array>
		<array>
			<string>developing_backbonejs_applications.md</string>
		</array>
		<array>
			<string>different.md</string>
		</array>
		<array>
			<string>difficult-conversations.md</string>
		</array>
		<array>
			<string>digit-world.md</string>
		</array>
		<array>
			<string>do-more-faster.md</string>
		</array>
		<array>
			<string>dom-scripting.md</string>
		</array>
		<array>
			<string>dont-make-me-think.md</string>
		</array>
		<array>
			<string>double_your_freelancing_rate.md</string>
		</array>
		<array>
			<string>early_retirement_extreme.md</string>
		</array>
		<array>
			<string>Effective C++.md</string>
		</array>
		<array>
			<string>Effective STL.md</string>
		</array>
		<array>
			<string>effective-c++-3rd-edition.md</string>
		</array>
		<array>
			<string>effective-java-2nd-edition.md</string>
		</array>
		<array>
			<string>elements-of-style.md</string>
		</array>
		<array>
			<string>focus.md</string>
		</array>
		<array>
			<string>food_rules.md</string>
		</array>
		<array>
			<string>founders-at-work.md</string>
		</array>
		<array>
			<string>four_hour_body.md</string>
		</array>
		<array>
			<string>four_hour_workweek.md</string>
		</array>
		<array>
			<string>functional-javascript.md</string>
		</array>
		<array>
			<string>game_programming_all_in_one.md</string>
		</array>
		<array>
			<string>guide_to_the_good_life.md</string>
		</array>
		<array>
			<string>high_performance_web_sites.md</string>
		</array>
		<array>
			<string>hooked-how-to-build-habit-forming-products.md</string>
		</array>
		<array>
			<string>how-children-learn.md</string>
		</array>
		<array>
			<string>how-children-succeed.md</string>
		</array>
		<array>
			<string>how-to-solve-it.md</string>
		</array>
		<array>
			<string>how-to-win-friends-and-influence-people.md</string>
		</array>
		<array>
			<string>how_to_cheat_in_photoshop_cs5.md</string>
		</array>
		<array>
			<string>html-5th-edition.md</string>
		</array>
		<array>
			<string>html5_up_and_running.md</string>
		</array>
		<array>
			<string>http_the_definitive_guide.md</string>
		</array>
		<array>
			<string>icon_handbook.md</string>
		</array>
		<array>
			<string>information-architecture.md</string>
		</array>
		<array>
			<string>introducing-neuro-linguistic-programming.md</string>
		</array>
		<array>
			<string>introductory_statistics_with_r.md</string>
		</array>
		<array>
			<string>ios-programming-the-big-nerd-ranch-guide-4th-edition.md</string>
		</array>
		<array>
			<string>ios8_sdk_development.md</string>
		</array>
		<array>
			<string>iphone-user-interface-design-projects.md</string>
		</array>
		<array>
			<string>javascript-patterns.md</string>
		</array>
		<array>
			<string>jd.md</string>
		</array>
		<array>
			<string>jquery-in-action.md</string>
		</array>
		<array>
			<string>khan_academy_biology.md</string>
		</array>
		<array>
			<string>khan_academy_chemistry.md</string>
		</array>
		<array>
			<string>khan_academy_probability.md</string>
		</array>
		<array>
			<string>khan_academy_statistics.md</string>
		</array>
		<array>
			<string>leanpub-manual.md</string>
		</array>
		<array>
			<string>learn-objective-c-on-the-mac.md</string>
		</array>
		<array>
			<string>learning-android.md</string>
		</array>
		<array>
			<string>learning-python-4th-edition.md</string>
		</array>
		<array>
			<string>learning_cocos2d.md</string>
		</array>
		<array>
			<string>learning_the_vi_and_vim_editors.md</string>
		</array>
		<array>
			<string>longevity_diet.md</string>
		</array>
		<array>
			<string>mastering_product_launches.md</string>
		</array>
		<array>
			<string>molecular_and_cell_biology_for_dummies.md</string>
		</array>
		<array>
			<string>mongodb-the-definitive-guide.md</string>
		</array>
		<array>
			<string>More Effective C++.md</string>
		</array>
		<array>
			<string>more-iphone-3-development.md</string>
		</array>
		<array>
			<string>neat-words.md</string>
		</array>
		<array>
			<string>new_coffeehouse_investor.md</string>
		</array>
		<array>
			<string>non_designers_design_book.md</string>
		</array>
		<array>
			<string>on_writing_well.md</string>
		</array>
		<array>
			<string>one_hundred_dollar_startup.md</string>
		</array>
		<array>
			<string>one_hundred_percent_photoshop.md</string>
		</array>
		<array>
			<string>photoshop_missing_manual.md</string>
		</array>
		<array>
			<string>pomodoro_technique.md</string>
		</array>
		<array>
			<string>pomodoro_technique_illustrated.md</string>
		</array>
		<array>
			<string>power_of_habit.md</string>
		</array>
		<array>
			<string>ppk-on-javascript.md</string>
		</array>
		<array>
			<string>pragmatic-learning-and-thinking.md</string>
		</array>
		<array>
			<string>pro-git.md</string>
		</array>
		<array>
			<string>productize.md</string>
		</array>
		<array>
			<string>profitable_side_project_handbook.md</string>
		</array>
		<array>
			<string>programming_in_objective_c.md</string>
		</array>
		<array>
			<string>programming_ios8.md</string>
		</array>
		<array>
			<string>quiet.md</string>
		</array>
		<array>
			<string>r_cookbook.md</string>
		</array>
		<array>
			<string>responsive_web_design.md</string>
		</array>
		<array>
			<string>restful_web_services.md</string>
		</array>
		<array>
			<string>rework.md</string>
		</array>
		<array>
			<string>rocket-surgery-made-easy.md</string>
		</array>
		<array>
			<string>ruby-on-rails-tutorial.md</string>
		</array>
		<array>
			<string>seven_languages_in_seven_weeks.md</string>
		</array>
		<array>
			<string>simple_guide_to_minimalist_life.md</string>
		</array>
		<array>
			<string>sinatra_up_and_running.md</string>
		</array>
		<array>
			<string>small_move_big_change.md</string>
		</array>
		<array>
			<string>speed_writing_for_nonfiction_writers.md</string>
		</array>
		<array>
			<string>sqlalchemy.md</string>
		</array>
		<array>
			<string>start_a_freedom_business.md</string>
		</array>
		<array>
			<string>start_small_stay_small.md</string>
		</array>
		<array>
			<string>swift_programming_language.md</string>
		</array>
		<array>
			<string>test_driven_infrastructure_with_chef.md</string>
		</array>
		<array>
			<string>The Design and Evolution of C++ .md</string>
		</array>
		<array>
			<string>the-book-on-writing.md</string>
		</array>
		<array>
			<string>the-charisma-myth.md</string>
		</array>
		<array>
			<string>the-knack.md</string>
		</array>
		<array>
			<string>the-non-designers-design-book.md</string>
		</array>
		<array>
			<string>the-ruby-programming-language.md</string>
		</array>
		<array>
			<string>the-swift-programming-language.md</string>
		</array>
		<array>
			<string>thinking-cpp.md</string>
		</array>
		<array>
			<string>thinking-fast-and-slow.md</string>
		</array>
		<array>
			<string>thinking-java.md</string>
		</array>
		<array>
			<string>tmux_productive_mouse_free_development.md</string>
		</array>
		<array>
			<string>traction.md</string>
		</array>
		<array>
			<string>triple_your_reading_speed.md</string>
		</array>
		<array>
			<string>ucsc_ext_bioinformatics_tools.md</string>
		</array>
		<array>
			<string>ucsc_ext_cellular_biology.md</string>
		</array>
		<array>
			<string>ultimate_guide_to_link_building.md</string>
		</array>
		<array>
			<string>vimtutor.md</string>
		</array>
		<array>
			<string>wealthy_freelancer.md</string>
		</array>
		<array>
			<string>writing-tools.md</string>
		</array>
		<array>
			<string>you_are_your_own_gym.md</string>
		</array>
		<array>
			<string>your_memory.md</string>
		</array>
		<array>
			<string>zen_habits_handbook.md</string>
		</array>
	</array>
</dict>
</plist>
