<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>algorithm</string>
		<string>big data</string>
		<string>book</string>
		<string>computer vision</string>
		<string>design</string>
		<string>foundation</string>
		<string>interview</string>
		<string>machine learning</string>
		<string>management</string>
		<string>platform</string>
		<string>programming language</string>
		<string>startup</string>
		<string>thinking</string>
		<string>tool</string>
		<string>web</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
